body {
    background-color: #a3a2a2;
    color: #222222;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    text-align: center;
}

.header-container {
    background-color: white;
    border: 3px solid black;
    border-radius: 8px;
    padding: 8px 20px;
    margin: 10px auto;
    width: 60vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    width: 70%;
    background: #373d61;
    padding: 20px;
    border-radius: 8px;
    color: white;
    margin: 10px auto;
    border: 3px solid black;
}

#game-container {
    width: 600px;
    height: 400px;
    background-image:url(./assets/duckhunt-bg-4k.png);
    background-size: cover;
    border: 5px solid darkslategray;
    position: relative;
    overflow: hidden;
    margin: 10px auto;
}

#target {
    width: 50px;
    height: 50px;
    background-image:url(assets/duck-target.gif) ;
    background-size: cover;
    position: absolute;
    top: 175px;
    left: 275px;
    cursor: pointer;
}

#target:hover {
    background-color: rgb(228, 74, 74);
}
#start-btn,
#reset-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px 5px;
}

#start-btn {
    background-color: rgb(12, 182, 12);
}

#reset-btn {
    background-color: rgb(240, 15, 15);
}
#reset-btn:hover {
    background-color: rgb(153, 4, 4);
}
#start-btn:hover {
    background-color: rgb(2, 44, 2);
}