body {
    background-color: #a3a2a2;
    color: #222222;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    margin: 0 auto;
}
   
.header-container {
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    border-radius: 8px;
    padding: 8px 20px;
    margin: 10px auto;
    width: 60vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.scoreboard {
    display: flex;
    justify-content: space-between;
    gap: 20px 50;
    font-size: 18px;
    width: 70%;
    height: 30%;
    background: #373d61;
    padding: 20px 0 ;
    border-radius: 8px;
    color: white;
    margin: 10px 40px;
    border: 3px solid black;
}
#game-container {
   width: 600px;
    height: 400px;
    background-color: royalblue;
    border: 5px solid darkslategray;
    position: relative;
    overflow: hidden;
    margin: 10px auto;
}
#target {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    border: 3px solid whitesmoke;
    position: absolute;
    top: 175px;
    left: 275px;
    cursor: pointer;
    
}
#start-btn {
    background-color: rgb(12, 182, 12);
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 20px ;
    justify-content: center;
    text-align: center;
}
#reset-btn {
    background-color: rgb(240, 15, 15);
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #181717;
    border-radius: 20px;
    justify-content: center;
}
