body {
    color: #222222;
    background-image: url(./assets/hunter\ logo.jpg);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(15px);
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
}


h1 {
    color: rgb(68, 7, 68);
    text-align: center;
    text-decoration: underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    color: rgb(68, 7, 68);
    text-align: center;
    border-radius: 5px solid darkslategray;
    padding: 10px;
    margin: 15px auto;
    font-size: 62px;
    
}

p {
    text-align: center;
    width: 60%;
    height: 40%;
    margin: 10px auto;
    padding: 15px 15px;
    font-size: 35PX;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(214, 21, 21);
    border-color: black;
}



.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    width: 100%;
    background-color: rgb(68, 7, 68);
    padding: 15px;
    border-radius: 8px;
    color: white;
    margin: 10px auto;
    border: 3px solid black;
    box-sizing: border-box;
}

.navbar ul {
    gap: 29px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar a {
    color: whitesmoke;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 5px 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

.navbar a:hover {
    color: gold;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    width: 600px;
    background-color: rgb(68, 7, 68);
    padding: 15px;
    border-radius: 8px;
    color: white;
    margin: 10px auto;
    border: 3px solid black;
    box-sizing: border-box;
}

#game-container {
    width: 1200px;
    height: 1000px;
    background-image: url(./assets/duckhunt-bg-4k.png);
    background-size: cover;
    border: 5px solid darkslategray;
    position: relative;
    overflow: hidden;
    margin: 10px auto;
}
#game-message {
    background-color: rgb(9, 25, 75);
    color: snow;
    border: 2px solid whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 10px;
    font-size: 24px;
}
#target {
    width: 100px;
    height: 100px;
    background-image: url(./assets/targer1.gif);
    background-size: cover;
    position: absolute;
    top: 175px;
    left: 275px;
    cursor: pointer;
}

#target2 {
    width: 100px;
    height: 100px;
    background-image: url(./assets/target2.gif);
    background-size: cover;
    position: absolute;
    top: 175px;
    left: 100px;
    cursor: pointer;
}

#start-btn,
#reset-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px 5px;
}

#start-btn {
    background-color: rgb(12, 182, 12);
}

#reset-btn {
    background-color: rgb(240, 15, 15);
}

#reset-btn:hover {
    background-color: rgb(153, 4, 4);
}

#start-btn:hover {
    background-color: rgb(2, 44, 2);
}